---
import NavButtons from "./Buttons/NavButtons.astro";
const { pathname } = Astro.url;
---

<header class="w-full flex place-content-center">
  <div
    class="fixed top-0 z-50 w-[80%] flex flex-row px-10 py-5 my-10 justify-between items-center
bg-white/55 rounded-full backdrop-blur-md"
  >
    <div class="">
      <p class="text-3xl">Fundacion Tapa</p>
    </div>
    <div class="flex flex-row">
      <NavButtons titulo={"Inicio"} url={"/"} path={pathname} />
      <NavButtons titulo={"Adopta"} url={"/Adopta"} path={pathname} />
      <NavButtons
        titulo={"Adaprina y Dona"}
        url={"/ApadrinaYDona"}
        path={pathname}
      />
      <NavButtons
        titulo={"Hogares Tepa"}
        url={"/HogaresTepa"}
        path={pathname}
      />
      <NavButtons titulo={"Blog"} url={"./Blog"} path={pathname} />
      <NavButtons titulo={"Contactanos"} url={"/Contactanos"} path={pathname} />
    </div>
  </div>
</header>
